$buttonColor : #C5CCED;
$result : #7083D4;
// $operand: #7083D4;
// $cancel : #4657A1;
// $equal: #24326E;

.calc{
    display: flex;
    justify-content: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(5rem, auto) repeat(6, 4rem);
    width: 40%;
}


.result{
    padding: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 2rem;
    text-align: end;
    grid-column: 1/-1;
    border: 1px black solid;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.keys{
    background-color: $buttonColor;
    border: 0.01rem solid white;
    font-size: 1.5rem;
}

.keys:hover
{
    background-color: #EDF0FF;
    cursor: pointer;
}

.span-three {
    grid-column: span 3;
}

.span-two {
    grid-column: span 2;
}

@media screen and (max-width: 1000px) {
    .calc{
        justify-content: left;
    }

    .layout{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: minmax(12rem, auto) repeat(6, 7rem);
        width: 90%;
    }

    .keys{
        background-color: $buttonColor;
    border: 0.01rem solid white;
    font-size: 3rem;
    }

    .result{
        padding: 2rem;
        font-size: 3.5rem;
    }
  }

  // Orange Theme

  .orabla-keys{
    background-color: #243440;
    font-size: 1.5rem;
    color: white;
  }

  .orabla-keys:hover{
    background-color: #5d666d;
    cursor: pointer;
  }

  .res-orabla{
    background-color: #243440;
    color: white;
  }

  .orabla-eq{
    background-color: #ec7e39;
  }

  .orabla-eq:hover{
    background-color: #ec66139f;
  }

  .orabla-op{
    color: #ec7e39;
  }

  //Pink Theme
  
  .pink-keys{
    background-color: #262936;
    font-size: 1.5rem;
    color: white;
  }

  .pink-keys:hover{
    background-color: #c5cceda1;
    color: #fd6eb4;
    cursor: pointer;
  }

  .res-pink{
    background-color: #262936;
    color: white;
  }

  .pink-eq{
    background-color: #f70d7a;
    color: white;
  }

  .pink-eq:hover{
    background-color: #fd6eb4;
    color: white;
    
  }

  .pink-op{
    background-color: #323649;
    color: #fd6eb4;
  }

  //Green Theme

  .green-keys{
    background-color: #ebebeb;
    font-size: 1.5rem;
    color: #707a92;
    border-radius: 50px;
  }

  .green-keys:hover{
    background-color: #8a818171;
    cursor: pointer;
  }

  .res-green{
    background: linear-gradient(50deg, #8feb9f, #569861);
    color: white;
  }

  .green-eq{
    background-color: #7ace89;
    color: white;
  }

  .green-eq:hover{
    background-color: #75b983;
    color: white;
  }

  //White Blue Theme

  .whbl-keys{
    background-color: #f2f2f29f;
    font-size: 1.5rem;
    color: black;
    border-radius: 50px;
  }

  .whbl-keys{
    cursor: pointer;
  }

  .res-whbl{
    background: white;
    color: black;
  }

  .whbl-op{
    background-color: #f2f2f29f;
    color: #e10012;
  }

  .whbl-clr{
    background-color: #f2f2f29f;
    color: #1194b5;
  }