.maindiv{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 20px;
}

.themeGrid{
    display: grid;
    grid-template-rows: repeat(4, 2rem);
    row-gap: 0.1rem;
}

.themes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
}

.th1{
    background: #ec7e39;
}

.th2{
    background: #fd6eb4;
}

.th3{
    background: #7ace89;
}

.th4{
    background: linear-gradient(to right, #eb8285 35%, #1194b5);
}


